<div class="row">
  <div class="col-md-10">
  <h2>Log in</h2>
  </div>
  <div class="col-md-2 double_down">
    <%= link_to "Sign up", new_registration_path(resource_name) %>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-group")  do |f| %>

  <div class="field">
    <p role="name">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true ,class: "form-control"%>
    </p>
  </div>

  <div class="field">
    <p role="name">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </p>
  </div>

  <p role="name">
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
</p>
<div class="row">  
  <div class="col-md-9 double_down">
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  </div>
   <div class="actions col-md-3">
    <%= f.submit "Log in" , class: "btn btn-primary"%>
  </div>
</div>


<% end %>
